body {
    margin: 0;
}

.workshop {
    border: 1px solid black;
    margin: 5px;
    float: left;
    width: 300px;
}

.workshop.active {
    background: lightgray;
}

.config {
    border: 1px solid black;
    margin: 5px;
    float: left;
    width: 250px;
}

.add-item {
    overflow: auto;
}

.add-item table {
    border-collapse: collapse;
}

.add-item thead {
    position: sticky;
    top: 0;
    background: white;
}

.add-item tr:hover {
    background: lightgray;
}